* {
  box-sizing: border-box;
}
/* Globales */
:root {
  --color-primario: #9E629A;
  --color-fondo: #f5f5f5;
  --color-texto: #333;
}

body {
  font-family: "Commissioner", sans-serif;
  margin: 0;
  padding: 0;
}