.home__fondoImg {
  background-image: url(../assets/ImgInicio.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 25rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.objetivo__imagen {
  width: 9rem;
  height: 9rem;
  object-fit: contain;
  margin-bottom: 1rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.contenido__home {
  margin-top: 10vh; /* Para que esté debajo del fondo fijo */
  text-align: center;
  padding: 3rem 1.5rem;
  margin-top: 12rem;
}

.home__titulo {
  font-size: 3rem;
  font-weight: bold;
  color: black;
}

.objetivos {
    width: 80%;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
  padding: 1rem 3rem;
  margin: 0 auto;
}

.objetivo {
  /* max-width: 250px; */
  text-align: center;
}
.objetivo__descripcion {
  font-size: 2rem;
  color: black;
}

@media (max-width: 768px) {
  .home__fondoImg {
    background-position: 15% center;
  }
  .contenido__home {
    margin-top: 14rem;
  }
}

/* Dispositivos muy pequeños (teléfonos en vertical, menos de 576px) */
@media (max-width: 575.98px) {
 
}

/* Teléfonos grandes / Tablets pequeños (576px - 767px) */
@media (min-width: 576px) and (max-width: 767.98px) {
  /* .contenido__home {
    margin-top: 20rem;
  } */
}

/* Tablets (768px - 991px) */
@media (min-width: 768px) and (max-width: 991.98px) {
}

@media (max-width: 900px) {
  .objetivos {
    flex-direction: column;
    padding: 1rem 2rem;
    gap: 20px;
    align-items: center;
  }
}

/* Laptops pequeños (992px - 1199px) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .objetivo__descripcion{
    font-size: 1.5rem;
  }
  .objetivo{
    max-width: 30%;
  }
  .objetivo__descripcion{
    font-size: 1.3rem;
  }
}

/* Pantallas grandes (1200px en adelante) */
@media (min-width: 1200px) {
  .objetivo{
    max-width: 30%;
  }
  .objetivo__descripcion{
    font-size: 1.5rem;
  }
}