.sidebar {
  /* position: fixed; Esto la fija en la pantalla */
  top: 0;
  left: 0;
  height: 100vh;
  width: 18%;
  background-color: white;
  color: #9197B3;
  padding: 20px;
  display: flex;
 
  /* border: #2c2c3e 1px solid; */
    /* box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2); */
  }
  @media (min-width: 1024px) {
    .sidebar {
      /* width: 100%; */
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 10;
      padding: 20px;
      /* background-color: #9197B3; */
      flex-direction: column;
    }
    
  }
  
  .sidebar-title {
    font-size: 1.2rem;
    font-weight: condensed;
    margin-bottom: 30px;
    display: flex;
    width: 100%;
    align-items: center;
    color: black;
    height: 4.5rem;
  }
  
  .sidebar-nav {
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
  }
  
  .sidebar-button {
    text-decoration: none;
    background: none;
    border: none;
    color: inherit;
    padding: 10px 15px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border-radius: 8px;
    transition: background 0.2s;
  }
  .sidebar-icon-name{
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .sidebar-button:hover {
    background-color: #f3bfef;
  }
  
  .sidebar-button.active {
    background-color: #9E629A;
    color: white;
  }
  .img-logo-nav{
    width: auto;
    height: 100%;
    border-radius: 50%;
  }
  .sidebar-footer{
    margin-top: auto;
    /* display: flex; */
    /* justify-content: space-between;
    gap: 20px; */
  }
  .sidebar-button-logout{
    text-decoration: none;
    background: none;
    border: none;
    color: inherit;
    padding: 10px 15px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    border-radius: 8px;
    transition: background 0.2s;
  }
  .sidebar-button-logout:hover {
    background-color: #f3bfef;
  }


  .burguer {
    display: block;
    cursor: pointer;
    z-index: 20;
    width: 20%;

    @media (min-width: 1025px) {
      display: none;
    }
  }


  @media (max-width: 1024px) {
    .sidebar{
      background-color: #9197B3;
      width: 100%;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
    }
    .sidebar-title{
      width: 80%;
      margin-bottom: 0px;
    }
    .sidebar-nav {
      background-color: rgba(162, 102, 158, 1);
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      background-color: rgba(162, 102, 158, 1);
      transform: translateY(-100%);
      opacity: 0;
      pointer-events: none;
      transition: transform 0.3s ease, opacity 0.3s ease;
      z-index: 5;
      padding-top: 4rem;           
      gap: 2rem; 
      padding-left: 3rem;
    }
    .icon{
      fill: white;
      color:#5d395a
    }
     

    .sidebar-nav.active {
      transform: translateY(0);
      opacity: 1;
      pointer-events: all;
    }
    h1 {
      color: white;
      font-size: 1.8rem;
      font-weight: 400;
      white-space: nowrap;
      font-weight: bold;
    }
    span {
      color: white;
      display: block;
      font-weight: bold;
      margin-left: 30px;
      font-size: 1.8rem;
    }
    img {
      width: 70px;
      height: auto;
    }
      @keyframes fadeInSlide {
    from {
      opacity: 0;
      transform: translateX(-30px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}