@media (min-width: 1024px) {
  .AdminNavbar {
    width: 18%;
    background-color: white;
    color: #9197b3;
    display: flex;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 20px;
    flex-direction: column;
  }
}

.AdminNavbar__title {
  font-size: 1.2rem;
  font-weight: condensed;
  margin-bottom: 30px;
  display: flex;
  width: 100%;
  align-items: center;
  color: black;
  height: 4.5rem;
}

.AdminNavbar__nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.AdminNavbar__button {
  text-decoration: none;
  background: none;
  border: none;
  color: inherit;
  padding: 10px 15px;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 8px;
  transition: background 0.2s;
}
.AdminNavbar__container-icon-name {
  display: flex;
  align-items: center;
  gap: 10px;
}

.AdminNavbar__button:hover {
  background-color: #f3bfef;
}

.AdminNavbar__button.active {
  background-color: #9e629a;
  color: white;
}
.AdminNavbar__imgLogoNav {
  width: auto;
  height: 100%;
  border-radius: 50%;
}
/* .AdminNavbar__footer {
  /* margin-top: auto; */

.AdminNavbar__button-logout {
  text-decoration: none;
  background: none;
  border: none;
  color: inherit;
  padding: 10px 15px;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
  border-radius: 8px;
  transition: background 0.2s;
  margin-top: auto;
}
.AdminNavbar__button-logout:hover {
  background-color: #f3bfef;
}

.AdminNavBar__burguerButton {
  display: block;
  cursor: pointer;
  z-index: 20;
  height: 100%;
  width: auto;
  @media (min-width: 1025px) {
    display: none;
  }
}

@media (max-width: 1024px) {
  .AdminNavbar {
    background-color: var(--color-primario);
    /* color: white; */
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .AdminNavbar__title {
    width: 80%;
    font-size: 1.8rem;
    margin-bottom: 0px;
    color: white;
  }
  .AdminNavbar__nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: white;
    transform: translateY(-100%);
    opacity: 0;
    pointer-events: none;
    transition: transform 0.3s ease, opacity 0.3s ease;
    z-index: 5;
    padding-top: 4rem;
    gap: 2.4rem;
    padding-left: 3rem;
    
  }
  .AdminNavBar__icon {
    fill: white;
    color: #5d395a;
  }

  .AdminNavbar__nav.active  {
    transform: translateY(0);
    opacity: 1;
    pointer-events: all;
  }
  .AdminNavbar__buttonLabel {
    color: #5d395a;
    display: block;
    /* font-weight: bold; */
    margin-left: 30px;
    font-size: 1.8rem;
  }
  .AdminNavbar__imgLogoNav {
    width: 3rem;
    height: auto;
  }
  .AdminNavbar__button-logout{
    margin-bottom: 2rem;
  }
  /* .AdminNavbar__button.active {
    background-color: #9e629a;
    color: white;
  } */
  @keyframes fadeInSlide {
    from {
      opacity: 0;
      transform: translateX(-30px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

}


@media (max-width: 700px) {
  .AdminNavbar {
    background-color: var(--color-primario);
    /* color: white; */
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .AdminNavbar__title {
    width: 80%;
    font-size: 1.5rem;
    margin-bottom: 0px;
    color: white;
  }
  .AdminNavbar__nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: white;
    transform: translateY(-100%);
    opacity: 0;
    pointer-events: none;
    transition: transform 0.3s ease, opacity 0.3s ease;
    z-index: 5;
    padding-top: 4rem;
    gap: 2.4rem;
    padding-left: 3rem;
    
  }
  .AdminNavBar__icon {
    fill: white;
    color: #5d395a;
  }

  .AdminNavbar__nav.active  {
    transform: translateY(0);
    opacity: 1;
    pointer-events: all;
  }
  .AdminNavbar__buttonLabel {
    color: #5d395a;
    display: block;
    /* font-weight: bold; */
    margin-left: 30px;
    font-size: 1.8rem;
  }
  .AdminNavbar__imgLogoNav {
    width: 3rem;
    height: auto;
  }
  .AdminNavbar__button-logout{
    margin-bottom: 2rem;
  }
  /* .AdminNavbar__button.active {
    background-color: #9e629a;
    color: white;
  } */
  @keyframes fadeInSlide {
    from {
      opacity: 0;
      transform: translateX(-30px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
