.colaborador-card {
    background: white;
    border-radius: 10px;
    padding: 2rem;
    margin: 2rem;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .header-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .actions {
    display: flex;
    gap: 1rem;
  }
  
  .btn-change-group,
  .btn-edit {
    background-color: #b084c4;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .btn-edit:hover, .btn-change-group:hover {
    background-color: #a16ab7;
    transform: scale(1.03); /* Sutil aumento de tamaño */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra suave para profundidad */
  }
  
  .subtitle__view {
    color: #8e44ad;
    margin-top: 1rem;

  }
  
  .info-grid {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;

  }
  
  
  .info-column {
    flex: 1;
    margin-right: 2rem;
    margin-top: 0.2rem;
  }
  
  .label__colaborator {
    margin-top: 1rem;
    font-size: 1rem;
  }
  
  .info__colaborator {
    margin-bottom: 1rem;
    margin-top: -16px;
    margin-bottom: 22px;
    padding-left: 1rem;
  }
  
  .delete-button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
  }
  
  .btn-delete {
    background-color: #d32f2f;
    color: white;
    border: none;
    padding: 0.8rem 1.5rem;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .btn-delete:hover {
    background-color: darkred;
  }
  
  .main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    overflow-y: auto;
  }
  

  .colaborador-card {
    max-width: 1200px;
    margin: 2rem auto;
  }
  

  .background__view {
    background-color: #9E629A;
    min-height: 100vh;
    padding: 2rem;
    margin-left: 18%;
    box-sizing: border-box;  
    display: flex;
    justify-content: center; 
    align-items: center; 
  }
  .registroEdicion__input{
    border: none;
    border-bottom: 1px solid #c0c0c0;
    padding: 8px 4px;
    width: 70%;
  }
  .registroEdicion__botonCancelar {
    border-radius: 8px;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    background-color: #ff7b7b; /* Gris original */
    color: #ffffff;
    /* margin-top: 0.5rem; */
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    transform: scale(1);
  }
  .registroEdicion__botonCancelar:hover {
    background-color: red; /* Gris un poco más oscuro */
    transform: scale(1.03); /* Sutil aumento de tamaño */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra suave para profundidad */
  }

  .registroEdicion__botonGuardar {
    border-radius: 8px;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    background-color: #45aa44; /* Gris original */
    color: #ffffff;
    /* margin-top: 0.5rem; */
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    transform: scale(1);
  }
  .registroEdicion__botonGuardar:hover {
    background-color: green; /* Gris un poco más oscuro */
    transform: scale(1.03); /* Sutil aumento de tamaño */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra suave para profundidad */
  }

  
  @media (max-width: 768px) {
    .info-grid {
      flex-direction: column;
    }
    .background__view {
      margin-left: 0;
      padding: 1rem;
      width: 100%;
    }
    .header-actions {
      display: block;
    }
    .btn-change-group,
    .btn-edit {
      padding: 1rem 2rem;
      font-size: 0.8rem;
      font-weight: bold;
    }
    .actions {
      display: flex;
      flex-direction: column; /* Cambia la dirección de fila a columna */
      gap: 1rem;
    }
  }

  .registro__botonDeshabilitado {
    background-color: #d3d3d3; /* Color gris claro */
    color: #777777; /* Texto más claro */
    cursor: not-allowed;
    pointer-events: none; /* Evita cualquier interacción */
    opacity: 0.6;
  }
  
  /* Estilo del botón deshabilitado */
  .btn-delete-disabled {
    background-color: #d3d3d3; /* Color gris claro */
    color: #777777; /* Texto más claro */
    cursor: not-allowed;
    pointer-events: none; /* Evita cualquier interacción */
    opacity: 0.6;
  }

  .btn-regresar {
    display: inline-flex;
    align-items: center;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-regresar:hover {
    background-color: white;
  }
  
  .btn-regresar__icon {
    margin-right: 0.5rem;
  }

  .error-message {
    color: #d8000c;
    font-size: 1rem;
    font-weight: 700; 
    margin-top: 0.25rem;
    margin-bottom: 0.5rem;
  }
